.env
_site
.DS_Store
/small_Mold_b^negative_mold.SLDPRT
/small_Mold_b^negative_mold.SLDPRT
*.b#1
*.s#1
*.brd
*.sch
*.gcode
*.pro
*.txt
*.epf
*.brd
*.b##
exercise16 - Copy.html
media/computer_aided_design/files/eggcratesolidworks.zip
